@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Ignore the above code */

body{
    font-family: Poppins, serif;
}
a{
    text-decoration: none;
}
/* 
.social-container{
    border: solid red;
    position: absolute;
    top: 20px;
    right: 20px;
}
.social-icon{
    font-size: 1.5rem;
}
.facebook{
    color: blue;
} */

.card{
    border: solid;
    width: 300px;
    margin: 2rem auto;
}

.upper-card{
    /* border: solid red; */
    position: relative;
    overflow: hidden;
}
.best-seller{
    background-color: #FF9457;
    position: absolute;
    top: 15px;
    left: 0px;
    padding: 0.2rem 1.1rem;      /* Ignore this */
    font-size: 14px;
    color: white;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.offer{
    background-color: #FF9457;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    right: -12px;
    top: -12px;

    font-family: "Red Hat Display", monospace;
    font-weight: 600;
    color: white;
    padding-top: 20px;
    padding-left: 9px;
    line-height: 1em;
}
.product-img{
    width: 100%;
}
.heart-container{
    background-color: white;
    position: absolute;
    bottom: 15px;
    right: 10px;
    padding: 0.5rem 0.5rem 0.2rem;
    border-radius: 50%;
}
.heart-icon{
    font-size: 1.5rem;
    cursor: pointer;
}
.heart-icon:hover{
    color: red;
}
.star-container{
    position: absolute;
    left: 5px;
    bottom: 10px;
}
.star-icon{
    color: #FF9457;
}

.lower-card{
    padding: 1rem;
}

.product-name{
    font-family: "Red Hat Display", monospace;
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
}
.product-type{
    color: #9b9696;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
.pricing{
    font-family: "Red Hat Display", monospace;
    font-weight: 500;
}
.mrp{
    font-weight: 400;
    color: #9b9696;
    font-size: 0.9rem;
    text-decoration: line-through;
}